      article {
    margin: 5px 0px;
    padding: 5px 5px;    
    box-shadow: -1px -1px 6px #888888;
}
body {
    font-family: 'News Cycle';    
}
body {
    font-family: 'News Cycle' !important;    
}
.carousel-inner {
    text-align: center;
}
.carousel .item > img {
    display: inline-block;
}

